.Welcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .Welcome {
    padding: 12px;
  }
}

button {
  color: black;
  margin-top: 18px;
}
