.FigParts {
  /* max-width: 200px; */
  grid-gap: 3px;
  margin-top: 3px;
}

.figPart {
  border: 1px solid black;
  padding: 12px;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-gap: 12px;
}

.name {
  font-size: 12px;
}

.image {
  height: 50px;
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
