.ShippingForm {
  padding: 12px;
}

Form {
  margin-top: 12px;
}

.formItem {
  width: 100%;
  margin-bottom: 12px;
  position: relative;
}

input {
  padding: 6px;
  width: 100%;
}

label {
  font-size: 12px;
  display: block;
  margin-bottom: 3px;
}

.errors {
  color: red;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 10px;
  padding-top: 3px;
}

input {
  border: 2px solid transparent;
  background-color: #dadada;
  transition: 0.3s all ease;
}

input:focus,
input:active {
  outline: 0;
}

.incorrect input {
  border: 2px solid red;
}

/* group of two form items side to side */
.duo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 6px;
}

/* group of three form items side to side */
.trio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 6px;
}

.controls {
  margin-top: 12px;
}

button {
  padding: 12px 48px;
  border: 0;
  border-radius: 60px;
  margin: auto;
  display: block;
}
