.Minifig {
  display: block;
  background-color: var(--color-3);
  padding: 12px;
  border-radius: 12px;
  border: 3px solid transparent;
  transition: 0.3s all ease;
}

@media screen and (max-width: 500px) {
  .Minifig {
    margin-bottom: 12px;
  }
}

.Minifig a {
  text-decoration: none;
  margin: auto;
  max-width: 100px;
  text-align: center;
  border-radius: 60px;
  margin-bottom: 12px;
  display: block;
  padding: 6px 12px;
  margin-top: 12px;
  background-color: var(--color-4);
}

.Minifig a:hover {
  background-color: var(--color-5);
}

.Minifig a span {
  color: black;
  font-size: 12px;
  display: block;
  text-align: center;
}

.name {
  text-align: center;
  font-size: 16px;
  color: black;
  margin-top: 12px;
  font-weight: 600;
}

.image {
  height: 150px;
  width: 150px;
  margin: auto;
  /* border: 1px solid red; */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
}

.active {
  -webkit-box-shadow: 0px 0px 5px 5px var(--color-5);
  -moz-box-shadow: 0px 0px 5px 5px var(--color-5);
  box-shadow: 0px 0px 5px 5px var(--color-5);
}

.controls {
  display: block;
  width: 100%;
  padding: 12px;
}
